SMTP_USER=myuser
SMTP_PASS=mypassword
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_TEST=test@example.com
SMTP_USE_TLS=true
SMTP_USE_SSL=false
SMTP_NO_AUTH=false
# Required whenever SMTP_USER is not set (including SMTP_NO_AUTH=true mode)
# SMTP_FROM=sender@example.com
# Alternatively, you may set *both* SMTP_FROM_NAME and SMTP_FROM_EMAIL instead of SMTP_FROM:
# SMTP_FROM_NAME=Tests
# SMTP_FROM_EMAIL=tests@example.com
